# example .env file

# postgres db info
DATABASE_URL=postgresql+psycopg://server:port/dbname
PGUSER=dbuser
PGPASSWORD=dbpass

# test database, defaults to sqlite3 if not set
# if using postgres, the user must have createdb privilege
TEST_DATABASE_URL=postgresql+psycopg://@/gitdb_test
TEST_PGUSER=testuser
TEST_PGPASSWORD=testpass

# do not drop the test database after running tests
KEEP_TEST_DB=N
